prime-env.sh
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
node_modules/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
secure-drop.log

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
