{% extends "layout.html" %}
{% block body %}
	{% if notice %}<p class="notice"><b>{{ notice }}</b></p>{% endif %}
	<form id="form" class="pure-form pure-form-stacked" name="contact" method="post" action="/">
		<fieldset>
			<legend>Secure Submission Form</legend>
			<span class="pure-form-message">
				Please use this form when instructed by a member of the Ethereum Foundation to securely submit documents. You can submit any kind of file and an accompanying message.<br><br>
				Your file and message will be strongly encrypted before leaving your device, and you will receive an ID unique to your submission. You may record this ID as it's not a secret, and you can use it to refer to the submission in future correspondence.<br><br>
			</span>
			<label id="recipientLabel" for="recipient">Recipient team:</label>
			<select id="recipientSelect" required>
				<option value="legal" selected>Legal</option>
				<option value="devcon">Devcon</option>
				<option value="esp">ESP</option>
				<option value="security">Security</option>
			</select>

			<label for="text">Message:</label>
			<textarea id="text" name="text" type="text" placeholder="Write a message. You could mention your name or email and short description of the file contents."></textarea>

			<label for="file-selector">File Upload (15Mb limit):</label>
			<input id="file-selector" type="file" multiple>

			<textarea id="message" name="message" hidden="true"></textarea>
			<textarea id="recipientText" name="recipient" hidden="true"></textarea>

			<textarea id="attachment-0" name="attachment-0" hidden="true"></textarea>
			<textarea id="filename-0" name="filename-0" hidden="true"></textarea>
			<textarea id="attachment-1" name="attachment-1" hidden="true"></textarea>
			<textarea id="filename-1" name="filename-1" hidden="true"></textarea>
			<textarea id="attachment-2" name="attachment-2" hidden="true"></textarea>
			<textarea id="filename-2" name="filename-2" hidden="true"></textarea>
			<textarea id="attachment-3" name="attachment-3" hidden="true"></textarea>
			<textarea id="filename-3" name="filename-3" hidden="true"></textarea>
			<textarea id="attachment-4" name="attachment-4" hidden="true"></textarea>
			<textarea id="filename-4" name="filename-4" hidden="true"></textarea>

			<br />
			<div class="g-recaptcha" data-sitekey="6LcSMmghAAAAAO62BSBt360U3kWg21by1ts2oEVc" data-callback="enableBtn"></div>
			<br />
			<br />
			<button id="button" type="submit" class="pure-button pure-button-primary" disabled="disabled">Submit</button>
		</fieldset>
	</form>
{% endblock %}
