{% extends "layout.html" %}
{% block head %}
<script src="static/js/es6-promise.min.js" type="text/javascript"></script>
<script src="static/js/openpgp.min.js" type="text/javascript"></script>
<script src="static/js/public-keys.js" type="text/javascript"></script>
<script src="static/js/dropzone.min.js"></script>
<link href="static/css/dropzone.min.css" rel="stylesheet" type="text/css" />
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="static/js/app.js" type="text/javascript"></script>
{% endblock %}
{% block body %}
	{% if notice %}<p class="notice"><b>{{ notice }}</b></p>{% endif %}
	<form id="submission-form" class="pure-form pure-form-stacked" name="contact" method="post" action="/">
		<fieldset>
			<legend>Secure Submission Form</legend>
			<span class="pure-form-message">
				Please use this form when instructed by a member of the Ethereum Foundation to securely submit documents. You can submit any kind of files and an accompanying message.<br><br>
				Your files and message will be strongly encrypted before leaving your device, and you will receive a unique ID for your submission. Remember: Record this ID. It is not a secret, and use it to refer to the submission in future correspondence.<br><br>
			</span>
			<label id="recipientLabel" for="recipient">Recipient team:</label>
			<select id="recipientSelect" required>
				<option value="legal" selected>Legal</option>
				<option value="devcon">Devcon</option>
				<option value="security">Security</option>
			</select>
			<br>
			<div id="referenceContainer">
				<label id="referenceLabel" for="reference">Reference ID: <span class="required">*</span></label>
				<input id="reference" name="reference" type="text" placeholder="Examples: FY00-1234, EXP12345, AOC000, HAT1234" required>
				<span class="pure-form-message reference-help">This is the ID provided to you by a member of the Ethereum Foundation. If you're unsure which ID to use, please reach out to your contact.</span>
			</div>
			<br>
			<label id="messageLabel" for="text">Additional Information:</label>
			<textarea id="text" name="text" type="text" placeholder="Please include any additional information that we should know about this submission."></textarea>
			<br>
			<label for="file-selector">The encrypted container that will be sent with your message. You may upload multiple files, up to a 15MB limit:</label>

			<button id="add-file-button" type="button" class="pure-button">Add file</button>
			<div id="error-message" class="error-message" style="display: none;"></div>
			<div id="dropzone-area" class="dropzone"></div>

			{% if hascaptcha %}
			<br />
			<div class="g-recaptcha" id="gRecaptcha" data-sitekey="{{ recaptcha_sitekey }}" data-callback="captchaSolved" data-expired-callback="captchaExpired"></div>
			{% endif %}
			<br />
			<br />
			<button id="button" type="submit" class="pure-button pure-button-primary"{% if hascaptcha %} disabled="disabled"{% endif %}>Encrypt and submit the data</button>
		</fieldset>
	</form>
{% endblock %}
