{% extends "layout.html" %}
{% block head %}
<script src="static/js/es6-promise.min.js" type="text/javascript"></script>
<script src="static/js/openpgp.min.js" type="text/javascript"></script>
<script src="static/js/public-keys.js" type="text/javascript"></script>
<script src="static/js/dropzone.min.js"></script>
<link href="static/css/dropzone.min.css" rel="stylesheet" type="text/css" />
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<script src="static/js/app.js" type="text/javascript"></script>
{% endblock %}
{% block body %}
	{% if notice %}<p class="notice"><b>{{ notice }}</b></p>{% endif %}
	<form id="submission-form" class="pure-form pure-form-stacked" name="contact" method="post" action="/submit-encrypted-data">
		<fieldset>
			<legend>Secure Submission Form</legend>
			<span class="pure-form-message">
				Use this form when directed by a member of the Ethereum Foundation to securely share documents. You may include any type of file along with an optional message.<br><br>
				Your files and message are fully encrypted on your device before being sent. After submission, you’ll receive a unique reference ID. Be sure to note this ID - You it’s not confidential, but it will help you reference this submission in any future communication.
			</span>
			<div class="form-row">
				<div class="form-group">
					<label id="recipientLabel" for="recipient">Recipient team:</label>
					<select id="recipientSelect" required>
						<option value="legal" selected>Legal</option>
						<option value="devcon">Devcon</option>
						<option value="security">Security</option>
					</select>
				</div>
				<div class="form-group" id="referenceContainer">
					<label id="referenceLabel" for="reference">Reference ID: <span class="required">*</span></label>
					<input id="reference" name="reference" type="text" placeholder="Examples: FY00-1234, EXP12345, AOC000, HAT1234" required>
					<span class="pure-form-message reference-help">This is the ID provided to you by a member of the Ethereum Foundation. If you're unsure which ID to use, please reach out to your contact.</span>
				</div>
			</div>
			<label id="messageLabel" for="text">Message to the team (optional)</label>
			<textarea id="text" name="text" type="text" placeholder="Add any additional information we should know about your submission."></textarea>
			<br>
			<div id="dropzone-area" class="dropzone"></div>
			<div id="error-message" class="error-message" style="display: none;"></div>

			{% if hascaptcha %}
			<div class="cf-turnstile" id="cfTurnstile" data-sitekey="{{ turnstile_sitekey }}" data-theme="light" data-callback="captchaSolved" data-expired-callback="captchaExpired"></div>
			{% endif %}
			<button id="button" type="submit" class="pure-button pure-button-primary"{% if hascaptcha %} disabled="disabled"{% endif %}>Encrypt and submit the data</button>
		</fieldset>
	</form>
{% endblock %}
