<!DOCTYPE html>
<html>
<head>
	<title>Securely Submit Files and messages to the EF</title>
	<link href="static/css/pure-min.css" rel="stylesheet" >
	<link href="static/css/style.css" rel="stylesheet" >
	<link rel="icon" href="https://ethereum.org/favicon-32x32.png" type="image/png"/>
	<link rel="apple-touch-icon" sizes="48x48" href="https://ethereum.org/icons/icon-48x48.png"/><link rel="apple-touch-icon" sizes="72x72" href="https://ethereum.org/icons/icon-72x72.png"/><link rel="apple-touch-icon" sizes="96x96" href="https://ethereum.org/icons/icon-96x96.png"/><link rel="apple-touch-icon" sizes="144x144" href="https://ethereum.org/icons/icon-144x144.png"/><link rel="apple-touch-icon" sizes="192x192" href="https://ethereum.org/icons/icon-192x192.png"/><link rel="apple-touch-icon" sizes="256x256" href="https://ethereum.org/icons/icon-256x256.png"/><link rel="apple-touch-icon" sizes="384x384" href="https://ethereum.org/icons/icon-384x384.png"/><link rel="apple-touch-icon" sizes="512x512" href="https://ethereum.org/icons/icon-512x512.png"/>
	{% block head %}
	{% endblock %}
</head>
<body>
<div id="content-container">
	<div id="logo-container">
		<img srcset="static/img/eth-diamond2x.png 2x, static/img/eth-diamond.png 1x" src="static/img/eth-diamond.png"  alt="EF Logo" class="logo">
	</div>

  {% block body %}
  {% endblock %}

</div>
</body>
</html>