<!DOCTYPE html>
<html>
<head>
	<title>Securely Submit Files and Messages to the EF</title>
	<link href="static/css/pure-min.css" rel="stylesheet" >
	<link href="static/css/style.css" rel="stylesheet" >
	<link rel="icon" type="image/x-icon" href="static/favicon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192" href="static/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512" href="static/android-chrome-512x512.png">
	<link rel="manifest" href="static/site.webmanifest">
	{% block head %}
	{% endblock %}
</head>
<body>
<div id="content-container">
	<div id="logo-container">
		<img srcset="static/img/eth-diamond2x.png 2x, static/img/eth-diamond.png 1x" src="static/img/eth-diamond.png"  alt="EF Logo" class="logo">
	</div>

  {% block body %}
  {% endblock %}
</div>
</body>
</html>
